.participacion {
    background: linear-gradient(to right, aqua, purple);
    padding: 20px;
  }
  h1 { text-align: center; }
  .form-container { background: white; border-radius: 10px; padding: 10px; }
  h2 { color: purple; }
  label { color: aqua; }
  button { background: aqua; color: white; border-radius: 10px; }