<section class="mecanica">
  <h1>Mecánica</h1>
  <div class="steps">
    <div class="step">
      <span class="circle a">A</span>
      <img src="/images/registro-datos.svg" alt="Registra" />
      <p>Registra tus datos.</p>
    </div>
    <div class="step">
      <span class="circle b">B</span>
      <img src="/images/mec-juega.svg" alt="Juega" />
      <p>Juega, encuentra todos los pares del memorama.</p>
    </div>
    <div class="step">
      <span class="circle c">C</span>
      <img src="/images/mec-paticipa.png" alt="Participa" />
      <p>Participa obtén una bocina inteligente.</p>
    </div>
  </div>
</section>
